@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.head {
  display: flex;
  width: 100%;
  height: 900px;
  position: relative;
  background-color: bisque;
}
/* ?????????????????????? */
.followers {
  width: 60%;
  height: 250px;
  margin: auto;
}
.followers-top h1 {
  font-family: "Inter", sans-serif;
  font-size: 42.54px;
  font-weight: 600;
  line-height: 51.48px;
  text-align: center;
}
.followers-bottom {
  display: flex;
  justify-content: space-between;
}
.K-plus-1 h1,
.K-plus-2 h1,
.K-plus-3 h1,
.K-plus-4 h1 {
  font-family: "Inter", sans-serif;
  font-size: 31.91px;
  font-weight: 500;
  line-height: 38.62px;
  text-align: center;
  /* align-items: center; */
}
.K-plus-1 p,
.K-plus-2 p,
.K-plus-3 p,
.K-plus-4 p {
  font-family: "Inter", sans-serif;
  font-size: 13.33px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  align-items: center;
}
/* end followers area  */
.six-box {
  width: 80%;
  height: 1080px;
  margin: auto;
  position: relative;
  top: 90px;
  background-color: #fafbff;
}
.all-six-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
  position: relative;
  top: 120px;
  width: 80%;
  height: 80%;
}
.first-series {
  width: 100%;
  height: 33%;
  display: flex;
  gap: 30px;
}
.first-series-1 {
  width: 50%;
  height: 100%;
}
.first-series-2 {
  width: 50%;
  height: 100%;
  background-color: #fff;
}
.second-series {
  width: 100%;
  height: 33%;
  display: flex;
  gap: 30px;
}
.second-series-1 {
  width: 50%;
  height: 100%;
  background-color: #fff;
}
.second-series-2 {
  width: 50%;
  height: 100%;
  background-color: #fff;
}
.third-series {
  width: 100%;
  height: 33%;
  display: flex;
  gap: 30px;
}
.third-series-1 {
  width: 50%;
  height: 100%;
  background-color: #fff;
}
.third-series-2 {
  width: 50%;
  height: 100%;
  background-color: #fff;
}
.sunicon {
  width: 40px;
  height: 40px;
  background-color: #41f5c0;
  border-radius: 5px;
  margin-left: 40px;
  margin-top: 40px;
}
.insunicon {
  margin-left: 11px;
  margin-top: 11px;
}
.first-series-2 h2 {
  font-family: "Inter", sans-serif;
  font-size: 23.94px;
  font-weight: 500;
  line-height: 35.91px;
  text-align: left;
  margin-left: 40px;
}
.first-series-2 p {
  width: 325px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-left: 40px;
}
.sixline {
  position: absolute;
  left: 480px;
  top: 270px;
}
.second-series-2 h2,
.second-series-1 h2,
.third-series-2 h2,
.third-series-1 h2 {
  font-family: "Inter", sans-serif;
  font-size: 23.94px;
  font-weight: 500;
  line-height: 35.91px;
  text-align: left;
  margin-left: 40px;
}
.second-series-2 p,
.second-series-1 p,
.third-series-2 p,
.third-series-1 p {
  width: 325px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-left: 40px;
}
.staricon {
  margin-left: 11px;
  margin-top: 11px;
}
.sixline2 {
  position: absolute;
  top: 566px;
}
.sixline3 {
  position: absolute;
  top: 566px;
  left: 480px;
}
.unvonicon {
  margin-left: 14.5px;
  margin-top: 12.7px;
}
.searchicon {
  margin-left: 11px;
  margin-top: 11px;
}
.bagicon {
  margin-left: 11px;
  margin-top: 11px;
}
.sixline4 {
  position: absolute;
  top: 860px;
}
.sixline5 {
  position: absolute;
  top: 860px;
  left: 480px;
}
.first-series-1 h1 {
  font-family: "Inter", sans-serif;
  width: 367px;
  font-size: 42.54px;
  font-weight: 600;
  line-height: 51.48px;
  margin-left: 40px;
}
.first-series-1 button {
  width: 142px;
  height: 49px;
  background-color: #0c1523;
  border-radius: 9px;
  margin-left: 40px;
}
.button-p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  color: white;
}
/* end six box area  */
.market {
  width: 80%;
  height: 990px;
  margin: auto;
  position: relative;
  top: 200px;
  border: 1px solid #fcf5ff;
}
.market h1 {
  font-family: "Inter", sans-serif;
  font-size: 42.54px;
  font-weight: 600;
  line-height: 51.48px;
  text-align: center;
}
.market p {
  font-family: "Inter", sans-serif;
  width: 538px;
  height: 54px;
  margin-left: 320px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
.marketboxex {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 720px;
  margin-top: 100px;
}
.birinchi-qator {
  display: flex;
  width: 100%;
  height: 363px;
}
.ikkinchi-qator {
  display: flex;
  width: 100%;
  height: 363px;
}
.marketboxex1 {
  width: 33.3%;
  height: 100%;
  background-color: #baadc0;
  opacity: 5%;
}
.marketboxex2 {
  width: 33.3%;
  height: 100%;
  border: 1px solid #fcf5ff;
  border-radius: 5px;
}

.marketboxex3 {
  width: 33.4%;
  height: 100%;
  background-color: #baadc0;
  opacity: 5%;
}
.marketboxex4 {
  width: 33.4%;
  height: 100%;
  border: 1px solid #fcf5ff;
  border-radius: 5px;
}
.marketboxex5 {
  width: 33.3%;
  height: 100%;
  background-color: #baadc0;
  opacity: 5%;
}
.marketboxex6 {
  width: 33.3%;
  height: 100%;
  border: 1px solid #fcf5ff;
  border-radius: 5px;
}
.belgi1 {
  width: 70px;
  height: 70px;
  background-color: #263959;
}
.boldtext1 b {
  font-family: "Inter", sans-serif;
  width: 234px;
  font-size: 31.91px;
  font-weight: 500;
  line-height: 38.62px;
  text-align: center;
  color: black;
  opacity: 1;
  border: 1px solid red;
}
h1 {
  /* font-size: 21px; */
}
